ENV=
MSSQL_HOST=localhost
MSSQL_PORT=1433
MSSQL_USER=root
MSSQL_PASSWORD=pass
MSSQL_DATABASE=bbb-dev
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_USER=admin
MONGO_PASSWORD=pass
MONGO_DATABASE=bbb-ml-staging
BBB_ML_BASE_URL=http://localhost:8187/api
BBB_ML_SECRET_HEADER=x-bbb-client-secret
BBB_ML_SECRET_HEADER_VALUE=secret